<section class="svgv-quick-tips content-section">
  <div class="centered-content">
    <a name="quickTips"></a>
    <h2>Quick Tips</h2>

    <h3>Optimize</h3>
    <p>Just like raster images, SVG files can be heavy. For any production content, it's best to optimize the output file to reduce its size and improve performance. Don't just use "Save as" from Illustrator, see the <a href="#references">References section</a> for articles on optimizing SVG.</p>

    <h3>Crop</h3>
    <p>Good use of whitespace is good design. However, optimized assets should not include whitespace, since that adds to the filesize for no reason. Whitespace should be managed dynamically with CSS. Crop your artboard tighly around the asset.</p>

    <h3>Clean</h3>
    <p>When creating an asset, experiments are oftentimes placed outside of the artboard, for reuse and other practical reasons. Delete any content outside of the artboard when exporting your SVG, as these superfluous assets are also exported.</p>

    <h3>More</h3>
    <p>See the <a href="#references">References section</a> for more in-depth articles on the subject.</p>

  </div>
</section>