<section class="svgv-references content-section">
  <div class="centered-content">
    <a name="references"></a>
    <h2>References</h2>
    <h3>Articles</h3>
    <ul>
      <li><a href="http://www.creativereview.co.uk/cr-blog/2016/february/the-case-for-connecting-creativity-and-production/">The case for connecting creativity and production</a></li>
      <li><a href="http://creativedroplets.com/export-svg-for-the-web-with-illustrator-cc/">Export SVG for the web with Illustrator CC</a></li>
      <li><a href="https://helpx.adobe.com/illustrator/how-to/export-svg.html">How to export SVG</a></li>
      <li><a href="http://photoshopetiquette.com/">Photoshop Etiquette</a></li>
      <li><a href="https://sarasoueidan.com/blog/svg-tips-for-designers/">Tips for Creating and Exporting Better SVGs for the Web</a></li>
      <li><a href="http://calendar.perfplanet.com/2014/tips-for-optimising-svg-delivery-for-the-web/">Tips For Optimising SVG Delivery For The Web</a></li>
      <li><a href="https://helpx.adobe.com/illustrator/using/svg.html">Work with SVG format in Illustrator</a></li>
    </ul>
    <h3>People</h3>
    <ul>
      <li><a href="https://sarasoueidan.com/">Sara Soueidan</a> (<a href="https://twitter.com/SaraSoueidan">@SaraSoueidan</a>)</li>
    </ul>
  </div>
</section>