<section>
  <div class="centered-content">
    <h2>References</h2>
    <h3>Articles</h3>
    <ul>
      <li><a href="https://sarasoueidan.com/blog/svg-tips-for-designers/">Tips for Creating and Exporting Better SVGs for the Web</a></li>
      <li><a href="http://calendar.perfplanet.com/2014/tips-for-optimising-svg-delivery-for-the-web/">Tips For Optimising SVG Delivery For The Web</a></li>
    </ul>
    <h3>People</h3>
    <ul>
      <li><a href="https://sarasoueidan.com/">Sara Soueidan</a> (<a href="https://twitter.com/SaraSoueidan">@SaraSoueidan</a>)</li>
    </ul>
  </div>
</section>