@import "vendor/elements";
@import "common/variables";
@import "../components/header/header";

html, body {
  background: @grey;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: @lightestGrey;
}

a {
  color: @activeBlue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

button {
  .rounded(16px);
  background: @grey;
  border: 1px solid @lightGrey;
  min-height: 32px;
  min-width: 112px;
}

.centered-content {
  position: relative;
  margin: 0 auto;
  width: 960px;
}