<footer class="svgv-footer">
  <div class="centered-content">
    <div>
      <div class="footer-title">SVG Viewer</div>
      <div>by <a href="http://jansensan.net/" target="_blank">Mat Janson Blanchet</a></div>
    </div>

    <div class="footer-sources-details">
      <div>Sources</div>
      <div>All the sources are available on a <a href="https://github.com/jansensan/svg-viewer/" target="_blank">GitHub repository</a>. Learn from it, use it in your projects, or even correct me if I've made mistakes.</div>
    </div>
  </div>
</footer>