<section class="svgv-canvas">
  <div class="centered-content canvas-inputs">
    <div class="labeled-input canvas-dimensions width-input">
      <label for="widthInput">W:</label>
      <input id="widthInput" type="number">
    </div>
    <svgv-icon-link 
      id="aspectRatioIcon"
      class="aspect-ratio-lock"
      ng-class="vm.model.isAspectRatioLocked ? 'enabled' : 'disabled'"
    ></svgv-icon-link>
    <div class="labeled-input canvas-dimensions height-input">
      <label for="heightInput">H:</label>
      <input id="heightInput" type="number">
    </div>
    <svgv-canvas-bg-selector></svgv-canvas-bg-selector>
  </div>
  <div
    id="canvasBackground"
    class="canvas-bg"
    ng-class="vm.colorModel.selectedColor"
  >
    <div id="canvasDisplay"></div>
  </div>
</section>