.svgv-canvas {
  border-top: 1px solid @lightGrey;
  border-bottom: 1px solid @lightGrey;
  background: @darkestGrey;
  padding: 24px 0;

  .canvas-bg {
    background-image: url('../assets/images/canvas-grid.gif');
    width: 320px;
    height: 320px;
    margin: 0 auto;
    position: relative;
  }

  .canvas-inputs {
    padding-bottom: 16px;
  }

  .canvas-dimensions {
    margin-right: 8px;
  }

  .icon-link {
    position: relative;
    top: 4px;
    margin-right: 8px;
    cursor: pointer;
  }

  .aspect-ratio-lock {
    &.enabled {
      opacity: 1;
    }
    &.disabled {
      opacity: 0.333;
    }
  }

  .labeled-input {
    font-size: 12px;

    label {
      display: inline-block;
      width: 16px
    }
    input {
      width: 52px
    }

    &.canvas-dimensions {
      display: inline;
    }
  }
}